@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.darkmode--activated {
  /* Navbar */
}
.darkmode--activated .movie .poster-movie {
  color: #000 !important;
  position: relative;
  float: left;
  display: inline;
  list-style-type: none;
  margin: 18px 8px;
}
.darkmode--activated .movie .poster-movie .imgs {
  border: 5px solid #53769e;
  width: 200px;
  height: 250px;
  border-radius: 13px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 390px) {
  .darkmode--activated .movie .poster-movie .imgs {
    height: 190px;
    width: 120px;
  }
}
@media only screen and (max-width: 600px) and (min-width: 390px) {
  .darkmode--activated .movie .poster-movie .imgs {
    height: 260px;
    width: 200;
  }
}
.darkmode--activated .movie .poster-movie:hover .imgs {
  transform: scale(1.05);
}
.darkmode--activated .movie .movie-title h6 {
  margin-top: 20px;
  font-size: 15px !important;
  color: #53769e;
}
.darkmode--activated .movie .panel-info .text-vid {
  color: #000000 !important;
}
.darkmode--activated .movie .panel-info .text-val {
  color: rgb(13, 0, 255) !important;
}
.darkmode--activated .pagination-custom {
  margin-top: 60px;
  margin-bottom: 50px;
}
.darkmode--activated .pagination-custom .page-link {
  border: none !important;
  color: rgb(238, 238, 238);
  margin-right: 8px;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
  border-radius: 9px;
}
.darkmode--activated .pagination-custom .page-link:hover {
  border: none !important;
  color: rgb(255, 255, 255);
}
.darkmode--activated .pagination-custom .active .page-link {
  background-color: #53769e;
}
.darkmode--activated .pagination-custom .next .page-link,
.darkmode--activated .pagination-custom .prev .page-link {
  border-radius: 9px;
  background-color: #53769e;
  color: #fff;
}
.darkmode--activated .pagination-custom .next .page-link:hover,
.darkmode--activated .pagination-custom .prev .page-link:hover {
  background-color: #7193bb;
}
.darkmode--activated .search {
  margin-top: -25px;
}
.darkmode--activated .search .input-icon {
  position: absolute;
  font-size: 18px;
  color: #427aba;
  right: 34px;
  top: 29px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
.darkmode--activated .search .form-search .form-control {
  height: 55px;
  border-radius: 15px;
  padding-left: 20px;
  border: none;
  margin-right: 5px;
  color: #4c719b;
  position: relative;
}
.darkmode--activated .search .form-search ::placeholder {
  color: #4c719b;
  opacity: 1;
}
.darkmode--activated .search .form-search :-ms-input-placeholder {
  color: #4c719b;
}
.darkmode--activated .search .form-search ::-ms-input-placeholder {
  color: #4c719b;
}
.darkmode--activated .movie-player .plyr {
  background-color: #53769e;
  border: 5px solid #53769e;
  /* Ubah tebal border sesuai kebutuhan */
  border-radius: 10px;
  /* Ubah nilai border-radius sesuai kebutuhan */
}
.darkmode--activated .movie-player .star-first {
  color: rgb(0, 38, 255);
}
.darkmode--activated .movie-player .back-btn {
  background-color: #a5df31;
  padding: 7px 15px;
  color: #000000;
  font-size: 18px;
  border-radius: 50%;
}
.darkmode--activated .anoter .text-white {
  color: #000000 !important;
}
.darkmode--activated .anoter .text-warning {
  color: rgb(13, 0, 255) !important;
}
.darkmode--activated .nav .favorite-link {
  color: rgb(255, 200, 0) !important;
  font-size: 15px;
  transition: all 0.8s;
  position: relative;
}

.rotateme {
  -webkit-animation-name: rotateme;
  animation-name: rotateme;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.preloader {
  background-color: #e5dada;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  margin: 0 auto;
}

.preloader .preloader-circle {
  width: 100px;
  height: 100px;
  position: relative;
  border-style: solid;
  border-width: 3px;
  border-top-color: #a34343;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  z-index: 10;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
  box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
  background-color: #ffffff;
  -webkit-animation: zoom 2000ms infinite ease;
  animation: zoom 2000ms infinite ease;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.preloader .preloader-circle2 {
  border-top-color: #a34343;
}

.preloader .preloader-img {
  position: absolute;
  top: 50%;
  z-index: 200;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top: 6px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.preloader .preloader-img img {
  max-width: 55px;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
}
@keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
}
.darkmode--activated .preloader {
  background-color: #1a2525;
}
.darkmode--activated .preloader .preloader-circle {
  border-top-color: #53769e;
}
.darkmode--activated .preloader .preloader-circle2 {
  border-top-color: #53769e;
}

.scrollbar::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #fff;
}

.scrollbar::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #a34343;
  border-radius: 16px;
  border: 4px solid #f4f4f4;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #c42c2c;
  border: 4px solid #f4f4f4;
}

.scrollbar::-webkit-scrollbar-button {
  display: none;
}

.scrollbar {
  height: 100vh;
  min-width: 150px;
  overflow-y: scroll;
}

.overflow {
  min-height: 100vh;
}

.darkmode--activated .scrollbar::-webkit-scrollbar-thumb {
  background-color: #a5df31;
  border-radius: 16px;
  border: 4px solid #f4f4f4;
}
.darkmode--activated .scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a5df31;
  border: 4px solid #f4f4f4;
}

.movie-player {
  margin-top: -200px;
}
@media only screen and (max-width: 600px) {
  .movie-player {
    margin-top: 0px;
  }
}
.movie-player .back-btn {
  background-color: #a34343;
  padding: 7px 15px;
  color: #fff;
  font-size: 18px;
  border-radius: 50%;
}
.movie-player .star {
  color: rgb(255, 208, 0);
  font-size: 22px;
  cursor: pointer;
  text-decoration: none !important;
}

#player {
  width: 100%;
  height: 650px;
}

.plyr {
  background-color: #b66363;
  border: 5px solid #b66363; /* Ubah tebal border sesuai kebutuhan */
  border-radius: 10px; /* Ubah nilai border-radius sesuai kebutuhan */
}

.anoter {
  font-size: 15px;
}
.anoter .text-white {
  color: rgb(120, 77, 77) !important;
}
.anoter .text-warning {
  color: rgb(255, 200, 0) !important;
}

* {
  text-decoration: none !important;
}

body {
  font-family: "Poppins", sans-serif;
}

.masthead {
  height: 20vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -90px;
}

.search {
  margin-top: -25px;
}
.search .input-icon {
  position: absolute;
  font-size: 18px;
  color: #c11718;
  right: 34px;
  top: 29px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
.search .form-search .form-control {
  height: 55px;
  border-radius: 15px;
  padding-left: 20px;
  border: none;
  margin-right: 5px;
  color: #c11718;
  position: relative;
}
.search .form-search ::placeholder {
  color: #c11718;
  opacity: 1;
}
.search .form-search :-ms-input-placeholder {
  color: #c11718;
}
.search .form-search ::-ms-input-placeholder {
  color: #c11718;
}

.movie {
  margin-top: 75px;
}
.movie .badge-custom {
  color: #fff !important;
  background-color: #ff5100;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 13px;
}
@media only screen and (max-width: 600px) {
  .movie {
    margin-top: 80px;
  }
}
.movie .grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(60, 1fr);
}
.movie .col-51 {
  grid-column-end: span 12;
}
@media (max-width: 600px) {
  .movie .grid {
    grid-gap: 10px 0;
  }
  .movie .grid > * {
    grid-column-end: span 60;
  }
}
.movie .panel-info .text-vid {
  color: rgb(120, 77, 77) !important;
}
.movie .panel-info .text-val {
  color: rgb(255, 200, 0) !important;
}
.movie .poster-movie {
  color: #000 !important;
  position: relative;
  float: left;
  display: inline;
  list-style-type: none;
  margin: 18px 8px;
}
.movie .poster-movie .imgs {
  border: 5px solid #b66363;
  width: 200px;
  height: 250px;
  border-radius: 13px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 390px) {
  .movie .poster-movie .imgs {
    height: 190px;
    width: 120px;
  }
}
@media only screen and (max-width: 600px) and (min-width: 390px) {
  .movie .poster-movie .imgs {
    height: 260px;
    width: 200;
  }
}
.movie .poster-movie:hover .imgs {
  transform: scale(1.05);
}
.movie .movie-title h6 {
  margin-top: 20px;
  font-size: 15px !important;
  color: #b34949;
}

.pagination-custom {
  margin-top: 60px;
  margin-bottom: 50px;
}
.pagination-custom .page-link {
  border: none !important;
  color: rgb(82, 82, 82);
  margin-right: 8px;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
  border-radius: 9px;
}
.pagination-custom .page-link:hover {
  border: none !important;
  color: rgb(82, 82, 82);
}
.pagination-custom .active .page-link {
  background-color: #a34343;
}
.pagination-custom .active .page-link:hover {
  color: #fff;
}
.pagination-custom .next .page-link,
.pagination-custom .prev .page-link {
  border-radius: 9px;
  background-color: #a34343;
  color: #fff;
}
.pagination-custom .next .page-link:hover,
.pagination-custom .prev .page-link:hover {
  background-color: #ae5656;
}
@media only screen and (max-width: 600px) {
  .pagination-custom .page-link {
    font-size: 14px;
  }
}

/* Navbar */
.nav .favorite-link {
  color: rgb(255, 200, 0) !important;
  font-size: 15px;
  transition: all 0.8s;
  position: relative;
}
.nav .favorite-link:hover {
  color: rgb(226, 177, 0) !important;
}
.nav .favorite-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 75%;
  height: 2px;
  background-color: rgb(255, 200, 0);
  transform: translateX(-50%);
}

.text-error {
  margin-top: 100px;
  display: block;
  text-align: center;
  width: 100%;
}